@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';
@font-face {
  font-family: 'Digital';
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot');
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7')
      format('svg');
}
.main{
  height: 100vh;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box{
  background-color: aliceblue;
  height: 470px;
  width: 300px;
  padding: 2px;
  display: block;
  border: 2px solid black; 
}
#display,#input{
  height: 80px;
  width: 300px;
  background-color: beige;
  font-family: digital;
  font-size: 30px;
  overflow: hidden;
  word-wrap: break-word;
}
#input{
  height: 40px;
  width: 300px;
  background-color: beige;
  font-family: digital;
  font-size: 30px;
  overflow: hidden;
  word-wrap: break-word;
}
button{
  height: 70px;
  width: 75px;
  border-radius: 2px;
  position: relative;
  cursor: default;
  font-family: share tech mono,monospace;
  font-size: large;
  transition: all 0.3s;
}
button:hover {
  color: rgb(205, 12, 12);
  background-color: rgb(202, 202, 36);
  outline: 0.05em solid grey;
  z-index: 3;
}

.btns{
  display: flex;
  flex-wrap: wrap;
}
#clear{
  width: 150px;
  background-color: rgb(218, 33, 73);
}
#zero{
  width: 150px;
}
#equals{
  height: 140px;
  background-color: rgba(23, 123, 237, 0.822);
  position: absolute;
  top: 64.9%;
  left: 55.5%;
}
#zero,#one,#two,#three,#four,#five,#six,#seven,#eight,#nine,#decimal{
  background-color: rgb(51, 56, 61);
}
#add,#subtract,#multiply,#divide{
  background-color: rgb(125, 123, 128);
}
